.active{
  background-color: lightgreen;
}

.inactive{
  background-color: red;
}

.imgSize {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 50px;
  height: 50px;
}

.dynamic-card{
  background-color: var(--myvar);
  height: 75px;
}


body {background: #000000;margin:50px;}

.battery {
  position: relative;
  display: block;
  margin: 25px 0 0 5px;
  background: #000000;
  width: 0;
  height: 28px;
  float: left;
  margin-left: 25px;
}

.battery:before {
  content: "";
  display: block;
  background: transparent;
  border: 6px solid #000000;
  margin: -12px;
  width: 85px;
  height: 40px;
  position: absolute;
  border-radius: 2px;
}

.battery:after {
  content: "";
  display: block;
  background: transparent;
  border: 6px solid #000000;
  margin: 0px 80px;
  width: 6px;
  height: 16px;
  position: absolute;
  border-radius: 2px;
}
.battery.percentage {width: var(--widthvar);}
