.dynamic-card{
  //Is a colour variable based upon room status
  background-color: var(--colourvar);
  height: 105px
}

.imgSize {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 75px;
  height: 75px;
}

.text-position {
  padding-top: 10px;
}

.text {
  font-weight: bold;
  color: black;
}
